/* for max screen*/
@media  only screen and (min-width:1299px){
#Logo{

    font-size: 55px;
}
}
/*for large screen*/
@media only screen and (min-width:992px){
    #Logo{
        font-size: 50px;
    }
}
/* for medium screen*/
@media only screen and (min-width : 768px){
    #Logo{
        font-size: 45px;
    }
}
/*for small screen*/
@media only screen and (min-width : 600px){
    #Logo{
        font-size: 35px;
    }
}
/*for xsmall screen*/
@media only screen and (max-width : 599px){
    #Logo{
        font-size: 25px;
    }
}
#Logo{
    color: rgb(4, 105, 46);
    font-family: 'Monofett', cursive;
    padding-left: 15px;
    
}
#tagline{
    color: rgb(4, 105, 46);   
}
.navbar-nav {
    margin-bottom: -10px;
    
}
#item{
    
    color: whitesmoke;
    padding-right: 15px;
    text-decoration: none;
}
.jumbotron{
    color: white;
    background-color: black;
}
h2.headlines{
    font-family: 'Train One', cursive;
    padding-top: 15px;
    padding-left: 15px;
}
hr{
    width: 30%;
    margin-left: 20px;
}
p.banner-content{
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    padding-bottom: 15px;
}
.img-fluid{
    padding-top: 15px;
}
hr.course-headline{
    width: 50%;
margin-left: 25%;
margin-right: 25%;
}
#forcards{
    float: left;
}
/* here comes the css of serach bar*/
.card #forseach{
    border: none;
    background: #eee
}

.search {
    width: 100%;
    margin-bottom: auto;
    margin-top: 20px;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px
}

.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    /*caret-color: transparent;*/
    line-height: 20px;
    transition: width 0.4s linear
}

.search .search-input {
    padding: 0 10px;
    width: 100%;
    caret-color: #536bf6;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear
}

.search-icon {
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #536bf6;
    font-size: 10px;
    bottom: 30px;
    position: relative;
    border-radius: 5px
}

.search-icon:hover {
    color: #fff !important
}

a:link {
    text-decoration: none
}

.card-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    border: none;
    cursor: pointer;
    transition: all 2s
}

.card-inner:hover {
    transform: scale(1.1)
}

.mg-text span {
    font-size: 12px
}

.mg-text {
    line-height: 14px
}
/*here comes an end to search bar css*/
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    margin-bottom: 10px;
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
/* footer begins here*/
.container-fluid {
    overflow: hidden;
    margin-top: 250px;
    background: #262626;
    color: #627482 !important;
    margin-bottom: 0;
    padding-bottom: 0
}

small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
    color: #989c9e !important
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
    font-size: 21px !important
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}
/* Explore page starts here*/
.explore-headline{
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
/* about us page's css start's here*/
p.statement{
    font-family: 'EB Garamond', serif;
    font-size: larger;
}
p.problems,ul{
    font-family: 'Roboto Slab', serif;
}
p.conclusions{
    font-family: 'Balsamiq Sans', cursive;
    font-size: larger;
}
